/cookbooks/
/test/
/mocks/
/fixtures/
/vagrant-scripts/
/.vagrant/
/node_modules/
/reports/
/src/
/lib/fixtures/
/lib/mocks/
/lib/test/
npm-debug.log
.DS_Store
Berksfile.lock
lib-cov
.travis.yml
Berksfile
Gruntfile.coffee
Vagrantfile
.npmignore
